<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <base href="https://stylolitic-permissi.000webhostapp.com/">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/script.js" defer></script>
</head>